#root {
  margin: 0 auto;
  padding: 2ch;
  text-align: center;
  box-sizing: border-box;
  max-width: min(1280px, 100dvw);
  flex: 1;
}

nav {
  box-sizing: border-box;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto auto 20px;
  grid-template-rows: auto;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5em;
  column-gap: 0.5em;

  > button {
    padding: 0.3em 0.6em;
    user-select: none;
  }
  > button:first-of-type {
    background-color: white;
    color: black;
  }
  > button:nth-of-type(2) {
    /* the Login Button */
    grid-column: 3/4;
    color: black;
    background-color: white;
    border: none;
    /*outline: 1px dotted #a85eea;*/
  }

  > button:last-of-type {
    background-color: #ba54f3;
    color: white;
    text-shadow: 1px 0px 1px #2c1045, 0px 1px 1px #dcb5ff;
  }
}

dialog {
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px #6f6d6d;
}

form > div {
  display: grid;
  grid-template-columns: 1fr 1em 3fr;
  grid-template-rows: auto;
  max-width: clamp(350px, 30em, 500px);
  row-gap: 1em;

  > h2 {
    grid-column: 1 / -1;
  }

  > input {
    min-height: 3ch;
    align-self: center;
  }
}

.authLabel {
  grid-column: 1 / 2;
}
.auth {
  grid-column: 3 / 4;
}
.button-panel {
  grid-column: 1 / -1;
  justify-self: center;
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  justify-content: space-around;
  width: 100%;
}
input:invalid {
  border: 1px solid red;
}

.error-dialog {
  & h1 {
    color: red;
    font-size: 1rem;
  }

  > ul {
    padding-inline-start: 2ch;
    display: flex;
    flex-direction: column;
    list-style: square;
    align-items: flex-start;
    justify-content: center;
    row-gap: 2ch;

    li {
      font-size: small;
      text-align: start;
    }
  }
}

.burger-menu {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 32px;
  left: 32px;
  cursor: pointer;

  & > ul {
    padding: 1ch;
    margin: 0;
    list-style-type: none;

    > li {
      padding: 1ch;
    }

    > li:hover {
      background-color: #a56fd86b;
    }
  }
}
