.main {
  margin-top: 8vh;
  display: grid;
  grid-template-areas:
    "header"
    "projects";

  & * {    
    box-sizing: border-box;
  }
}

.projectsSection {
  grid-area: projects;
  display: flex;
  flex-flow: wrap;
  column-gap: 2em;
  row-gap: 2em;
  padding: 2ch;
  justify-content: center;
  background: linear-gradient(45deg, #5585f6, transparent);
}
/*
.projectCard:hover {
  background-color: #a85eeabf;
}
*/
.projectCard {
  flex: 1 0 auto;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 5px;
  padding: 2ch;
  width: clamp(300px, 1000px, 90vw);
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  background-color: #5585f6;
  background: linear-gradient(45deg, #5585f6, transparent);

  > * {
    box-sizing: border-box;
  }
}

.projectCardRight {
  min-width: 50%;
  max-width: 50%;
  min-height: 100%;
  padding: 2ch;
  flex: 1;
  row-gap: 1ch;
  background-color: #f8f0ff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;

  > * {
    padding: .1ch 1ch;
    background-color: white;
    margin: 0;
    text-align: left;
    align-self: stretch;
  }
}
.projectCardLeft {
  min-width: 50%;
  max-width: 50%;
  min-height: 100%;
  flex: 1;
  background-color: #f8f0ff;
  display: grid;
  justify-items: center;
  grid-template-areas:
    "title socials"
    "image socials";
  grid-template-columns: auto 60px;
  align-items: center;

  > p:first-of-type {
    justify-self: stretch;
    grid-area: title;
    color: black;
    padding: 2px;
    font-size: larger;
    font-weight: 500;
    font-weight: 600;
    background-color: white;
  }

  > p:last-of-type {
    grid-area: socials;
    display: flex;
    flex-direction: column;
    row-gap: 2ch;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 60px;
    aspect-ratio: 1;
  }
}

.projectSocials {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  color: black;
  background-color: transparent;
  column-gap: 1ch;
  aspect-ratio: 1;
  padding: 1.3ch;
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
}

.projectSocials:hover:not(span) {
  transform: scale(101%);
  padding: 1ch;
  border-radius: 50%;
  border: none;
  background-color: rgb(223 170 242 / 26%);
}

.addProjectCard {
  background: repeating-radial-gradient(white 0%, white 20%, #83a3d6 25%);
  background-size: 5% 5%;
  background-position: 0px 0px;
  justify-content: stretch;
  align-items: stretch;
  grid-template-areas: "button";
  grid-template-columns: 100%;

  > button {
    background-color: transparent;
    color: #375aef;
  }

  > p {
    color: #5585f6;
  }
}

.checkbox {
  justify-self: flex-start;
  height: 3ch;
  width: 3ch;
  margin: 0;
}

.subButton {
  background-color: transparent;
  background: radial-gradient(white 0%, white 60%, #83a3d6);
  color: #564f4f;
  font-weight: 490;
  border: 1px solid #564f4f;
  border-radius: 0px;
  aspect-ratio: 1;
  min-width: 100%;
  max-width: 100%;
}

.subButton:hover {
  box-shadow: 3px 3px 3px 1px #ff68f5, -3px -3px 3px 1px #ff68f5;
}
/*
.projectCard:has(.subButton:hover) {
  background-color: #f8f0ff;
}
*/
.authLabel {
  justify-self: flex-start;
}

.errors {
  color: red;
  text-shadow: 0.5px 0.5px 0px purple;
  letter-spacing: 0.2ch;
  font-size: small;
  list-style-type: none;
  background-color: rgb(255, 196, 206);
}

.projectImage {
  max-width: calc(100% - 2ch);
  max-height: min(300px, 90vh);
 /* max-height: min(300px, 90vh);*/
  max-height: max(50vh,300px);
}

.projectImage:hover {
  cursor: pointer;
  border-radius: 10px;
  transform: scale(101%);
  box-shadow: 1px 1px 1px 1px gray;
}

.comments {    
    box-sizing: border-box;
    height: 4ch;
    width: 100%;
    text-align: center;
    padding-top: 1ch;
    background-color: #e8ecfd;
}

.descr {
  font-weight: 400;
  font-size: small;
}