.main {
  margin-top: 9vh;
  display: grid;
  row-gap: 1rem;
  grid-template-areas:
    "header"
    "projects";
  justify-items: center;

  & * {
    box-sizing: border-box;
  }

  h1 {
    margin-bottom: 1ch;
  }
}

.projectsSection {
  padding: 1rem;
  min-width: 300px;
  grid-area: projects;
  display: flex;
  flex-flow: wrap;
  column-gap: 2em;
  row-gap: 2em;
  justify-content: center;
  background: linear-gradient(45deg, #5585f6, transparent);
  max-width: 100%;
}

.projectCard {
  flex: 1 0 auto;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 5px;
  padding: 2ch;
  width: clamp(300px, 1000px, 90vw);
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  background-color: #5585f6;
  background: linear-gradient(45deg, #5585f6, transparent);

  > * {
    box-sizing: border-box;
  }

  & a {
    justify-self: stretch;
    margin-top: 1rem;
  }
}

.projectCardRight {
  min-height: 300px;
  max-height: 389px;
  min-width: clamp(300px, 50%, calc(100dvw - 12ch));
  max-width: 100%;
  align-self: stretch;
  padding: 2ch;
  flex: 1;
  background-color: #f8f0ff;
  font-weight: 600;
  display: grid;
  grid-template-rows: auto 20% auto 60%;

  *:not(form) {
    padding: 0.1ch 1ch;
    background-color: white;
    margin: 0;
    text-align: left;
    align-self: stretch;
  }

  & label {
    text-decoration: underline;
    font-style: oblique;
  }

  > p:first-of-type {
    color: #3b2750;
    font-family: sans-serif;
    font-size: large;
    font-variant: all-petite-caps;
    font-stretch: extra-expanded;
    text-shadow: 1px 1px 2px #65617aba;
    text-align: center;
    text-decoration: solid;
    text-emphasis-position: under;
    text-emphasis-style: filled;
    text-emphasis-color: #c488ff;
  }

  > div:first-of-type {
    overflow-y: scroll;
  }
  > div:first-of-type > p:first-of-type {
    padding: 0;
    font-stretch: expanded;
    font-style: oblique;
  }
  form {
    width: 100%;

    & button:hover:not(:disabled) {
      background-color: #a85eea5c;
    }
  }
}
.projectCardLeft {
  max-height: 400px;
  min-width: clamp(300px, 50%, calc(100dvw - 12ch));
  max-width: 100%;
  flex: 1;
  background-color: #f8f0ff;
  display: grid;
  justify-items: center;
  grid-template-rows: 4rem minmax(300px, auto);
  grid-template-areas:
    "title socials"
    "image socials";
  grid-template-columns: auto 60px;
  align-items: center;

  > p:first-of-type {
    border: 3px double black;
    margin: 1rem 1rem 0rem 1rem;
    justify-self: stretch;
    grid-area: title;
    color: black;
    padding: 2px;
    font-size: larger;
    font-weight: 500;
    font-weight: 600;
    background-color: white;
  }

  > div:last-of-type {
    grid-area: socials;
    display: flex;
    flex-direction: column;
    row-gap: 1ch;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 60px;
    aspect-ratio: 1;
    align-self: stretch;
    background-color: #eadbff;
  }

  > img {
    margin: 1rem 0;
  }
}

.projectSocials {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  color: black;
  background-color: transparent;
  column-gap: 1ch;
  aspect-ratio: 1;
  padding: 1.3ch;
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  justify-content: center;
  padding: 1.5ch;
  border-radius: 50%;

  > img {
    max-width: 50px;
  }
}

a.projectSocials,
button.projectSocials {
  background-color: #d58fe24f;
}
.projectSocials:hover:not(span) {
  transform: scale(101%);
  padding: 1ch;
  border-radius: 50%;
  border: none;
  background-color: rgb(223 170 242 / 26%);
}

.addProjectCard {
  background: repeating-radial-gradient(white 0%, white 20%, #83a3d6 25%);
  background-size: 5% 5%;
  background-position: 0px 0px;
  justify-content: stretch;
  align-items: stretch;
  grid-template-areas: "button";
  grid-template-columns: 100%;

  > button {
    background-color: transparent;
    color: #375aef;
  }

  > p {
    color: #5585f6;
  }
}

.checkbox {
  justify-self: flex-start;
  height: 3ch;
  width: 3ch;
  margin: 0;
}

.subButton {
  background-color: transparent;
  background: radial-gradient(white 0%, white 60%, #83a3d6);
  color: #564f4f;
  font-weight: 490;
  border: 1px solid #564f4f;
  border-radius: 0px;
  aspect-ratio: 1;
  min-width: 100%;
  max-width: 100%;
}

.subButton:hover {
  box-shadow: 3px 3px 3px 1px #ff68f5, -3px -3px 3px 1px #ff68f5;
}
/*
.projectCard:has(.subButton:hover) {
  background-color: #f8f0ff;
}
*/
.authLabel {
  justify-self: flex-start;
}

.errors {
  color: red;
  text-shadow: 0.5px 0.5px 0px purple;
  letter-spacing: 0.2ch;
  font-size: small;
  list-style-type: none;
  background-color: rgb(255, 196, 206);
}

.projectImage {
  max-width: calc(100% - 2ch);
  max-height: 290px;
}

.projectImage:hover {
  cursor: pointer;
  border-radius: 10px;
  transform: scale(101%);
  box-shadow: 1px 1px 1px 1px gray;
}

.comments {
  resize: none;
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  text-align: center;
  padding-top: 1ch;
  background-color: #e8ecfd;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 2px dashed black;
}

.currentComment {
  background-color: #fffae9;
  margin: 1rem 0rem;
  border: 1px solid #564f4f;
  resize: vertical;
  height: fit-content;
}
.currentComment:focus {
  text-align: left;
  padding: 1ch;
}
.currentComment:not(:focus) {
  height: 4ch;
  color: rgba(0, 0, 0, 0.512);
}

.descr {
  font-weight: 400;
  font-size: small;
}

.commentsArea {
  overflow-y: scroll;
  max-height: 200px;

  > label {
    font-style: normal;
    text-decoration: dashed;
  }
}
.commentArea {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  row-gap: 0;
  border: 0.5px solid black;

  > textarea {
    margin-bottom: 0;
  }

  > .currentComment {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 1;
    border-bottom: none;
    margin-bottom: 0;
    outline: none;
    border: none;
  }

  > .buttonPanel {
    border: none;
    background-color: white;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: -1;
    outline: none;
    z-index: 2;

    > button {
      border: 1px solid #0000ff66;
      min-width: 3rem;
      text-align: center;
      outline: none;
      background-color: white;
      background: none;
      padding: 4px;
      margin: 0rem 1rem 0rem 0rem;
      font-size: small;
    }
  }
}

@media only screen and (max-width: 500px) {
  .main {
    margin-top: 10vh;
  }
  .projectCardRight {
    max-height: 450px;
  }
}
